body {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

h1 {
    color: $font_color_two;
    font-size: 50px;
    padding: 50px;
    text-align: center;
    letter-spacing: 5px;
}
