@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

h1 {
  color: #002d75;
  font-size: 50px;
  padding: 50px;
  text-align: center;
  letter-spacing: 5px;
}

header {
  text-align: center;
}

header img {
  margin: 20px;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
  margin-bottom: 10px;
}

header ul li a {
  color: #404040;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  transition-duration: 0.5s;
}

header ul li a:hover {
  background-color: #cde2e7;
}

header ul li.active a {
  background-color: #cde2e7;
}

main .bg-products {
  background-image: url(/images/background.jpg?174b2c5eeefa64cbc914a9486c7c17be);
}

main .bg-product {
  background-color: #C0DFE8;
}

main .container {
  width: 90%;
  margin: 0 auto;
}

main .container h2 {
  color: #002d75;
  font-size: 30px;
  padding: 30px 0 0 30px;
}

main .container .cards {
  display: flex;
  flex-wrap: wrap;
}

main .container .cards .card {
  flex-basis: calc(100% / 3 - 40px);
  position: relative;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #cde2e7;
}

@media screen and (max-width: 768px) {
  main .container .cards .card {
    flex-basis: calc(100% / 2 - 40px);
  }
}

@media screen and (max-width: 375px) {
  main .container .cards .card {
    flex-basis: 100%;
  }
}

main .container .cards .card:hover .card-link {
  opacity: 1;
}

main .container .cards .card:hover img {
  transform: scale(1.4);
}

main .container .cards .card img {
  display: block;
  width: 100%;
  transition-duration: 2s;
}

main .container .cards .card .card-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 2s linear all;
  text-align: center;
}

main .container .cards .card .card-link h3 {
  padding-bottom: 10px;
}

main .container .cards .card .card-link h3 a {
  color: #002d75;
}

main .container .cards .card .card-link svg {
  fill: #002d75;
}

main .container .product {
  text-align: center;
  position: relative;
}

main .container .product img {
  width: 70%;
  margin: 50px;
}

main .container .product h3 {
  color: #002d75;
  font-weight: normal;
  padding: 0 30px 30px;
}

main .container .product h4 {
  padding-bottom: 30px;
}

main .container .product h4 a {
  color: #002d75;
  font-size: 20px;
  text-decoration: underline;
}

main .container .product .left,
main .container .product .right {
  position: absolute;
  top: 50%;
}

main .container .product .left a,
main .container .product .right a {
  font-size: 80px;
  color: #002d75;
  opacity: 0.3;
}

main .container .product .left a:hover,
main .container .product .right a:hover {
  opacity: 0.8;
}

main .container .product .left {
  left: 10px;
}

main .container .product .right {
  right: 10px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  background-image: url(/images/footer-background.jpg?e9536648042f65c22b810770b2a6ca02);
  background-repeat: no-repeat;
  background-position: bottom;
}

footer .container {
  flex-basis: calc(100% / 3 - 100px);
  margin: 50px;
}

footer .container h4 {
  padding-top: 10px;
  padding-bottom: 20px;
  color: #707070;
}

footer .container ul {
  list-style: none;
}

footer .container ul li {
  color: #707070;
  font-size: 13px;
  padding-bottom: 10px;
}

footer .container ul li a {
  color: #707070;
}

footer .left ul li {
  font-size: 12px;
  padding-bottom: 2px;
}

