main {
    .bg-products {
        background-image: url('../../img/background.jpg');
    }
    .bg-product {
        background-color: #C0DFE8;
    }
    .container {
        width: 90%;
        margin: 0 auto;
        h2 {
            color: $font_color_two;
            font-size: 30px;
            padding: 30px 0 0 30px;
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            .card {
                flex-basis: calc(100% / 3 - 40px);
                position: relative;
                margin: 20px;
                overflow: hidden;
                border-radius: 10px;
                box-shadow: 0px 0px 10px 0px $hover_color_one;
                @media screen and (max-width: 768px) {
                    flex-basis: calc(100% / 2 - 40px);
                }
                @media screen and (max-width: 375px) {
                    flex-basis: 100%;
                }
                &:hover {
                    .card-link {
                        opacity: 1;
                    }
                    img {
                        transform: scale(1.4);
                    }
                }
                img {
                    display: block;
                    width: 100%;
                    transition-duration: 2s;
                }
                .card-link {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: 2s linear all;
                    text-align: center;
                    h3 {
                        padding-bottom: 10px;
                        a {
                            color: $font_color_two;
                        }
                    }
                    svg {
                        fill: $font_color_two;
                    }
                }
            }
        }
        .product {
            text-align: center;
            position: relative;
            img {
                width: 70%;
                margin: 50px;
            }
            h3 {
                color: $font_color_two;
                font-weight: normal;
                padding: 0 30px 30px;
            }
            h4 {
                padding-bottom: 30px;
                a {
                    color: $font_color_two;
                    font-size: 20px;
                    text-decoration: underline;
                }
            }
            .left, .right {
                position: absolute;
                top: 50%;
                a {
                    font-size: 80px;
                    color: $font_color_two;
                    opacity: 0.3;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
            .left {
                left: 10px;
            }
            .right {
                right: 10px;
            }
        }
    }
}
